[Unit]
Description=MQTT remote gate opener service
After=network-online.target

[Service]
Type=simple
User=pi
ExecStart=/usr/local/lib/mqtt-gate-opener/mqtt-gate-opener.py -c /usr/local/etc/mqtt-gate-opener.conf

[Install]
WantedBy=multi-user.target
